.root {
  margin: 0 auto;
  max-width: var(--maxWidth);
  --gridItemSize: 200px;
}

.header {
  margin-bottom: var(--spacing-xlarge);
  color: red;
}

.search {
  margin-bottom: var(--spacing-xlarge);
}

.list {
  display: grid;
  grid-column-gap: var(--spacing-large);
  grid-row-gap: var(--spacing-large);
  grid-template-columns: repeat(4, var(--gridItemSize));
}

@media (max-width: 1024px) {
  .root {
    --gridItemSize: 180px;
  }
}

@media (max-width: 924px) {
  .root {
    --gridItemSize: 200px;
  }

  .list {
    grid-template-columns: repeat(3, var(--gridItemSize));
  }
}

@media (max-width: 774px) {
  .root {
    --gridItemSize: 180px;
  }
}

@media (max-width: 700px) {
  .root {
    --gridItemSize: 160px;
  }

  .list {
    grid-template-columns: repeat(3, var(--gridItemSize));
  }
}

@media (max-width: 640px) {
  .root {
    --gridItemSize: 200px;
  }

  .list {
    grid-template-columns: repeat(2, var(--gridItemSize));
  }
}

@media (max-width: 500px) {
  .root {
    --gridItemSize: 160px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.manga-title {
  color: var(--color-black);
  display: block;
  /*flex-basis: 64px;*/
  flex-grow: 0;
  font-size: var(--fontSize-normal);
  font-weight: normal;
}
