.grid {
  align-items: start;
  display: grid;
  grid-column-gap: var(--spacing-large);
  grid-row-gap: var(--spacing-normal);
  grid-template-columns: 200px auto;
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: var(--spacing-normal);
}

.title {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.gridImage {
  grid-column: 1;
  grid-row: 2;
}

.gridChapters {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 2;
  grid-row: 2 / span 3;
  grid-row-gap: var(--spacing-small);
}

.gridButton {
  grid-column: 1;
  grid-row: 3;
}
